* {
	box-sizing: border-box;
	font-family: Lato, sans-serif;
}

.lg-container{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #4db8ff;
	border:0.1px solid #4db8ff;
	border-radius: 5px;
}

.nav-item{
	margin: 0.3vh 1vw;
}

.brand-container{
	display: flex;
}


#brand {
	font-size:2.5rem;
	color: #006666;
	margin-left: 1vw;
	margin-right: 2vw;
	text-decoration: none;
	font-variant: small-caps;
	padding: 0.8vh 0.5vw;
}

#brand:hover{
	color: #4db8ff;
	background-color:#006666;
	border:0.1px solid #006666; 
	border-radius:5px;
}

#toggler{
	
	display: none;
	margin-left: auto;
	
	margin-right: 3vw;
	padding: 0.3vh 1.5vw;
}

#toggle-button{
	font-size:2.4rem;
	color: #006666;
	background-color: transparent;
	border:none;
}

#toggle-button:hover{
	color:#4db8ff;
	background-color: #006666;
	border:0.1px solid #006666; 
	border-radius:5px;
}


.wrapper{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 2vw;

}

.nav-subitem{
	margin: 1.2vw;
	color: #505050;
	text-decoration: none;
	font-size: 1.3rem;
	letter-spacing:1.5px;
}

#nav-wrapper>a:hover{
	font-weight: 700;
	color: #303030;
	text-decoration: underline;
}

.search {
	width: 33%;
	margin-left: auto;
	display: flex;
	justify-content: space-between;
	align-items:center;
}

#search-box{
	width:85%;
	font-size: 1.3rem;
	padding: 0.7vh 1vw;
	font-family: inherit;
	color: #505050;
	border:1px solid white;
	border-radius: 6px;
	margin-right: 1.3vw;
}

#search-box:focus{
	border:1.9px solid #505050;
}

#search-button{
	margin: 1.1vw;
	font-size: 1.3rem;
	color: #505050;
	background-color: transparent;
	border: 1px solid #505050;
	border-radius: 5px;
	padding: 1vh 0.5vw;
}

#search-button:hover{
	background-color: #505050;
	color: #4db8ff;
}


.sm-container{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: #4db8ff;
	border:0.1px solid #4db8ff;
	border-radius: 5px;
}
.sm-wrapper{
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.sm-search{
	width: 90%;
	margin-left: initial;
	margin-right: 3vw;
	display: flex;
	justify-content: space-between;
	align-items:center;
}

@media screen and (max-width: 992px) {
	#toggler{
		display: inline-block;
	}
	#brand{
		margin-left: 3vw;
	}
	.brand-container{
		width: 100%;
	}
	.nav-item{
		margin-left: 1vw;
		padding-left: 4vw;
	}
	#nav-wrapper>a {
		padding:0.8vh 1vw;
	}

	#nav-wrapper>a:hover{
	font-weight: 700;
	color: #4db8ff;
	background-color:#505050;
	border:0.1px solid #505050; 
	border-radius:5px;
	text-decoration: none;
}

}